################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LampShop/.vs
/LampShop/DependencyResolver/Properties
/LampShop/DependencyResolver/obj
/LampShop/LampService/bin
/LampShop/LampService/obj
/LampShop/LampService/Properties
/LampShop/LampService/Web.Release.config
/LampShop/LampService/Web.Debug.config
/LampShop/LampService/packages.config
/LampShop/LampService/LampService.csproj.user
/LampShop/LampShop/bin
/LampShop/LampShop/Content
/LampShop/LampShop/obj/Debug
/LampShop/LampShop/Properties
/LampShop/LampShop/Scripts
/LampShop/LampShop/Global.asax
/LampShop/LampShop/favicon.ico
/LampShop/LampShop/ApplicationInsights.config
/LampShop/LampShop/Web.Release.config
/LampShop/LampShop/Web.Debug.config
/LampShop/LampShop/packages.config
/LampShop/LampShop/LampShop.csproj.user
/LampShop/LightBulbService/Properties
/LampShop/LightBulbService/obj/Debug
/LampShop/LightBulbService/bin
/LampShop/LightBulbService/Web.Release.config
/LampShop/LightBulbService/Web.Debug.config
/LampShop/LightBulbService/LightBulbService.svc
/LampShop/LightBulbService/LightBulbService.csproj.user
/LampShop/packages
/LampShop/Repository/bin/Debug
/LampShop/Repository/Properties
/LampShop/Repository/obj/Debug
/LampShop/Repository/packages.config
/LampShop/RepositoryInterface/bin/Debug
/LampShop/RepositoryInterface/Properties
/LampShop/RepositoryInterface/obj/Debug
/LampShop/LampShop.sln.DotSettings.user
/LampShop/LampShop.sln
